#root {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.padding-top {
  padding-top: 96px;
}

.not-logo {
  width: 96px;
  height: 96px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.desc-container {
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.body1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.secondary {
  color: var(--text-secondary);
}

.mb32 {
  margin-bottom: 32px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0;
}

.list {
  background-color: var(--bg-content-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.list .item {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .divider {
  height: 1px;
  background-color: var(--separator-color);
  /* compensate height */
  margin-bottom: -1px;
  margin-left: 16px;
}

.button-cell {
  height: 36px;
  display: flex;
  gap: 10px;
  background-color: var(--button-tertiary-bg-color);
  border-radius: 8px;
  align-items: center;
}

.button-cell .value {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 40px;
}

.button-cell .button {
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  transition: opacity 0.4s;
  color: var(--text-color);
  fill: var(--text-color);
}

.button-cell .button.disabled {
  opacity: 0.4;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  width: 100%;
  border-radius: 16px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.primary {
  background-color: var(--button-primary-bg-color);
  color: var(--button-primary-text-color);
}

.label1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.end-page {
  position: absolute;
  bottom: 32px;
  left: 16px;
  right: 16px;
  padding-bottom: env(safe-area-inset-bottom);
}

.placeholder {
  padding-left: 16px;
  padding-right: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
